<%= simple_form_for(@student, html: { class: 'form-horizontal' }) do |f| %>
   
   <h3><%= controller.action_name.capitalize %> Student</h3>
    
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.collection_select :family_id, Family.active, :id, :family_name, prompt: "Select family..." %>  
    <%= f.input :rating %> 
    <%= f.input :date_of_birth, as: :string, order: [:month, :day, :year], include_blank: true, :input_html => {:class => "avg datepicker"} %>
    <%= f.input :active %>

    <div class="form-actions">
      <%= f.submit nil, class: 'button radius' %>
      <%= link_to 'Back to list of students', students_path, :class => 'button secondary radius' %>
    </div>

<% end %>
