<div class="panel clearfix">
<strong>Rating:&nbsp;&nbsp;</strong> 
  <%= @camp.curriculum.min_rating %> - <%= @camp.curriculum.max_rating %><br /><br />

<strong>Registrations (<%= @camp.registrations.size%>)</strong>&nbsp;&nbsp;<br>
  <% @registrations.each do |registration| %>
    <%= link_to registration.student.name, student_path(registration.student) %> <%= registration.student.rating%><br>
  <% end %>
</div>