<h3>Instructor Details</h3><br />
<% unless @instructor.picture_url.nil? %>
  <p><%= image_tag @instructor.picture_url %></p>
<% end %>

<strong>Name:&nbsp;&nbsp;</strong> 
  <%= @instructor.proper_name %><br /><br />

<strong>Phone:&nbsp;&nbsp;</strong> 
  <%= number_to_phone(@instructor.phone) %><br /><br />

<strong>Email:&nbsp;&nbsp;</strong> 
  <%= mail_to @instructor.email, @instructor.email, encode: "javascript" %><br /><br />

<strong>Active?&nbsp;&nbsp;</strong>
  <%= @instructor.active ? "Yes" : "No" %><br /><br />

<strong>Biography</strong><br />
  <%= @instructor.bio.nil? ? "N/A" : @instructor.bio %><br /><br />

