<h3>Welcome back, <%= current_user.instructor.proper_name %>!</h3>

<div class="row">
  <div class="small-7 columns">
	<% if @upcoming_camps.nil? || @upcoming_camps.empty? %>
		<p>You have no camps at this time</p>
	<% else %>
	<div id="accordion">
		<h3>Camps with No Registrations</h3>
		<div><%= render :partial => 'partials/no_registrations' %></div>
		<h3>Instructors with No Assigned Camps</h3>
		<div><%= render :partial => 'partials/no_camps'%></div>
		<h3>Students - Only Deposits Paid</h3>
		<div><%= render :partial => 'partials/no_full_payment'%></div>
	</div>
	<% end %>
  </div>
  <div class="small-4 columns">
		<h3>Quick Links</h3> 
		<table class="side-nav">
			<tr>
				<td><span class="ui-icon ui-icon-document"></span></td>
				<td><h6><%= link_to "Camp Payment Reports", payments_path %></h6></td>
			</tr>
			<tr>
				<td><span class="ui-icon ui-icon-person"></span></td>
				<td><%= link_to "My Profile", instructor_path(current_user.instructor) %></td>
			</tr>
		</table>
   <div>
</div>
