<h3>Location Details</h3><br />
<strong>Name:&nbsp;&nbsp;</strong> 
  <%= @location.name %><br /><br />

<strong>Street:&nbsp;&nbsp;</strong><br /> 
  <%= @location.street_1 %><br /><br />

<strong>City, State, and Zip Code:&nbsp;&nbsp;</strong><br /> 
  <%= @location.city %>, <%= @location.state %>, <%= @location.zip %><br /><br />

<!-- <strong>State:&nbsp;&nbsp;</strong><br /> 
  <%= @location.state %><br /><br />

<strong>Zip:&nbsp;&nbsp;</strong><br /> 
  <%= @location.zip %><br /><br /> -->

<strong>Maximum Capacity:&nbsp;&nbsp;</strong><br /> 
  <%= @location.max_capacity %><br /><br />

<strong>Active?&nbsp;&nbsp;</strong>
  <%= @location.active ? "Yes" : "No" %><br /><br />

<%= link_to "Edit this location", edit_location_path(@location), class: "button tiny radius" %>&nbsp;&nbsp;
<%= link_to 'Destroy location', location_path(@location), data: { confirm: 'Are you sure you want to permanently remove this location from the system?' }, method: :delete, class: "button tiny radius alert" %>